---
title: Work for us
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="well">
          <h3></h3>
        </section>
      </div>

      <div class="col-md-6">
        <section id="job-feed" class="well">

        </section>
      </div>

      <div class="col-md-3">
        <section class="well">
        <h3><h3>
        </section>
      </div>
    </div>
  </div>
</section>
