---
title: Why work for us - Sheffield Teaching Hospitals NHS Foundation Trust
---
<% content_for :navbar_title do %>
  <%= "Work for us" %>
<% end %>


<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1>Why work for us</h1>
      </div>
    </div>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <section id="" class="well">

        </section>
      </div>

      <div class="col-md-8">
        <section id="" class="well">
        <h3><h3>
        </section>
      </div>
    </div>
  </div>
</section>
